/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        colonforvim {
            bindings = <&kp COLON>;
            key-positions = <19 18>;
            layers = <0>;
        };
    };

    macros {
        J5: J5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N5 &kp J>;
            label = "J5";
        };

        K5: K5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N5 &kp K>;
            label = "K5";
        };
    };

    behaviors {
        onfire: onfire {
            compatible = "zmk,behavior-hold-tap";
            label = "ONFIRE";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <140>;
            quick-tap-ms = <150>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESC             &kp Q  &kp W  &kp E      &kp R     &kp T        &kp Y  &kp U  &kp I          &kp O    &kp P          &kp BSPC
&kp CAPS            &kp A  &kp S  &kp D      &kp F     &kp G        &kp H  &kp J  &kp K          &kp L    &kp SEMICOLON  &kp RETURN
&mt LEFT_SHIFT TAB  &kp Z  &kp X  &kp C      &kp V     &kp B        &kp N  &kp M  &kp COMMA      &kp DOT  &kp FSLH       &kp RIGHT_SHIFT
                                  &kp LCTRL  &kp LGUI  &kp SPACE    &mo 1  &mo 2  &kp RIGHT_ALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESC             &kp EXCL  &kp AT_SIGN  &kp HASH              &kp DOLLAR             &kp PERCENT    &kp CARET         &kp AMPERSAND     &kp ASTERISK       &kp MINUS  &kp EQUAL  &kp BSPC
&kp CAPS            &trans    &trans       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &K5            &kp SINGLE_QUOTE  &kp LEFT_BRACE    &kp RIGHT_BRACE    &trans     &trans     &kp RETURN
&mt LEFT_SHIFT TAB  &trans    &trans       &trans                &trans                 &J5            &kp BACKSLASH     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans     &trans     &kp RIGHT_SHIFT
                                           &kp LCTRL             &kp LGUI               &kp SPACE      &trans            &trans            &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESCAPE          &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5          &kp NUMBER_6    &kp N7          &kp N8        &kp N9           &kp N0         &kp BACKSPACE
&kp CAPS            &kp INSERT    &kp DEL       &trans        &trans        &mo 3           &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp PAGE_UP    &kp HOME
&mt LEFT_SHIFT TAB  &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &kp LG(N1)      &kp LG(N2)      &kp LG(N3)    &kp LG(N4)       &kp PAGE_DOWN  &kp END
                                                &kp LCTRL     &kp LGUI      &kp SPACE       &trans          &trans          &trans
            >;
        };

        function {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F6   &kp F7   &kp F8  &kp F9  &kp F10  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp F11  &kp F12  &trans  &trans  &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans   &trans   &trans  &trans  &trans   &trans
                        &trans  &trans  &trans    &trans   &trans   &trans
            >;
        };
    };
};
